<script type="text/ng-template" id="EliminarModalIngreso.html">
    <div class="modal-footer" style="text-align: center;">
    <div style="margin-left: 7%;">
    <h4 style="margin-right: 5%;"><strong>Está seguro de salir, perderá lo que no haya guardado</strong></h4>
    <div class="col-lg-6">
    <button class="btn btn-success col-lg-10" type="button" ng-click="acepto()"><i class="fa fa-check"></i></button>
    </div>
    <div class="col-lg-6">
    <button class="btn btn-danger col-lg-10" type="button" ng-click="cancel()"><i class="fa fa-ban"></i></button>
    </div>
    </div>
    </div>

    <div class="modal-wait" style="text-align: center;">
    <div style="margin-left: 7%;">
    <h4 style="margin-right: 5%;"></h4>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">
    </div>
    </div>
    </div>
</script>

<script type="text/ng-template" id="cambiaModalDocumento.html">
    <div class="modal-footer" style="text-align: center;">
    <div>
    
       <div class="row">
                <div class="col-xs-4">
                    <b>Categoría</b>
                </div>

                <div class="col-xs-1">
                    <b>Inicial</b>
                </div>

                <div class="col-xs-1">
                    <b>Final</b>
                </div>

                <div class="col-xs-3">
                    <b>Comentario</b>
                </div>

                <div class="col-xs-3">
                    <b>Pág</b>
                </div>
            </div>
    <hr class="simple">
            <div class="col-md-12">
                <div class="col-xs-4">
                    {{linea_aux.nombre_cod}}
                </div>

                <div class="col-xs-1">
                    {{linea_aux.folioInicial}}
                </div>

                <div class="col-xs-1">
                    {{linea_aux.folioFinal}}
                </div>

                <div class="col-xs-3">
                    {{linea_aux.comentario}}
                </div>

                <div class="col-xs-3">
                    {{linea_aux.paginas}}
                </div>
            </div>
            
    <hr class="simple">
            
    <div class="col-lg-12" style="margin-top: 7%;">
    <md-tooltip md-direction="bottom">
        {{linea.selected.nombreTipoDocumento}}
    </md-tooltip>
    <ui-select class="col-md-8 col-md-offset-2" ng-model="linea_aux.selected" ng-init="linea_aux.selected = plantillas_aux[$index]">
        <ui-select-match placeholder="Buscar..">{{ $select.selected.nombreTipoDocumento | limitTo: 25 }}{{$select.selected.nombreTipoDocumento.length > 25 ? '...' : ''}}</ui-select-match>
            <ui-select-choices group-by="'nombreCategoria'" repeat="item in (itemArray | filter: $select.search) track by item.tipo_id" refresh="setnewservice($select.search)" refresh-delay="0">
                <span ng-bind-html="item.nombreTipoDocumento | highlight: $select.search"></span>
            </ui-select-choices>
    </ui-select>
    
    
    <div class="col-md-12" style="margin-top:5%;">
        <button class="btn btn-success col-md-3 col-md-offset-3" ng-click="guardarModificacion(linea_aux.selected, indice_aux)">Guardar</button>
        <button class="btn btn-danger col-md-3" ng-click="cancelarfModificacion()">Cancelar</button>
    </div>
    
    </div>
    </div>
    </div>

    <div class="modal-wait" style="text-align: center;">
    <div style="margin-left: 7%;">
    <h4 style="margin-right: 5%;"></h4>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">
    </div>
    </div>
    </div>
</script>

<script type="text/ng-template" id="AbrirEliminarDocumentosModal.html">
    <div class="modal-footer" style="text-align: center;">
    <div style="margin-left: 7%;">
    <h4 style="margin-right: 5%;"><strong>Realmente desea eliminar los Documentos de la Carpeta</strong></h4>
    <h4 style="margin-right: 5%;"><strong>Se vaciaran todos los documentos de la carpeta</strong></h4>
    <div class="col-lg-6">
    <button class="btn btn-success col-lg-10" type="button" ng-click="acepto()"><i class="fa fa-check"></i></button>
    </div>
    <div class="col-lg-6">
    <button class="btn btn-danger col-lg-10" type="button" ng-click="cancel()"><i class="fa fa-ban"></i></button>
    </div>
    </div>
    </div>

    <div class="modal-wait" style="text-align: center;">
    <div style="margin-left: 7%;">
    <h4 style="margin-right: 5%;"></h4>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">
    </div>
    </div>
    </div>
</script>

<div class="col-md-12" id="informe" ng-show="false" style="width: 600px;">
    <table class="table table-bordered top">
        <thead>
            <tr>
                <th colspan="4">
                    <span class="col-md-12"><center>Registro de Datos Carpeta</center></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-4 text-left">Nombres:</td>
                <td class="col-md-4 text-left">{{cabecera.nombres}}</td>
                <td class="col-md-4 text-left">Apellidos:</td>
                <td class="col-md-4 text-left">{{cabecera.apellidos}}</td>
            </tr>
            <tr>
                <td class="col-md-4 text-left">Rut:</td>
                <td class="col-md-4 text-left">{{cabecera.rut}} - {{cabecera.dv}}</td>
                <td class="col-md-4 text-left">Id:</td>
                <td class="col-md-4 text-left">{{cabecera.identificador}}</td>
            </tr>
            <tr>
                <td class="col-md-4 text-left">Caja:</td>
                <td class="col-md-4 text-left">{{cabecera.nro_caja}}</td>
                <td class="col-md-4 text-left">Carpeta:</td>
                <td class="col-md-4 text-left">{{cabecera.carpeta}}</td>
            </tr>
            <tr>
                <td class="col-md-4 text-left" ng-if="cabecera.califica == 'true'">Califica:</td>
                <td class="col-md-4 text-left" ng-if="cabecera.califica == 'true'">Si</td>
                <td class="col-md-4 text-left" ng-if="cabecera.califica == 'false'">Califica:</td>
                <td class="col-md-4 text-left" ng-if="cabecera.califica == 'false'">No</td>
                <td class="col-md-4 text-left" ng-if="cabecera.apela == 'true'">Apela:</td>
                <td class="col-md-4 text-left" ng-if="cabecera.apela == 'true'">Si</td>
                <td class="col-md-4 text-left" ng-if="cabecera.apela == 'false'">Apela:</td>
                <td class="col-md-4 text-left" ng-if="cabecera.apela == 'false'">No</td>
            </tr>
            <tr>
                <td class="col-md-4 text-left" ng-if="cabecera.comision == 1">Comision:</td>
                <td class="col-md-4 text-left" ng-if="cabecera.comision == 1">Valech I</td>
                <td class="col-md-4 text-left" ng-if="cabecera.comision == 2">Comision:</td>
                <td class="col-md-4 text-left" ng-if="cabecera.comision == 2">Valech II</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>


    <table class="table table-bordered top">
        <thead>
            <th>Categoria</th>
            <th>Folio Inicial</th>
            <th>Folio Final</th>
            <th>Paginas</th>
            <th>Preservación</th>
            <th>Comentarios</th>
        </thead>
        <tbody>
            <tr ng-repeat="linea in lineas | orderBy: 'folioInicial' track by $index" ng-controller="myCtrl">
                <td>{{linea.selected.nombreTipoDocumento}}</td>
                <td>{{linea.folioInicial}}</td>
                <td>{{linea.folioFinal}}</td>
                <td>{{linea.paginas}}</td>
                <td ng-if="linea.checkContar == true">Si</td>
                <td ng-if="linea.checkContar == false">No</td>
                <td ng-if="linea.checkContar == undefined">No</td>
                <td>{{linea.comentario}}</td>
            </tr>
        </tbody>
    </table>

    <center>Total de Páginas:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{total}}</center>

</div>


<div class="container theme-showcase" role="main">
    <div class="container-fluid">
        <form name="carpetaForm" novalidate>
            <span ng-if="checked" class="animate-if">
                This is removed when the checkbox is unchecked.
            </span>
            <div>
                <fieldset>
                    <legend>Modificación de Datos Carpeta </legend>
                    <div class="alert alert-success" style="text-align: center;" ng-show="bueno">
                        <label>Registro realizado con exito</label>
                    </div>
                    <div class="alert alert-success" style="text-align: center;" ng-show="rutbueno" >
                        <label>Rut ingresado valido</label>
                    </div>
                    <div class="alert alert-danger" style="text-align: center;" ng-show="rutmalo">
                        <label>Rut ingresado no valido</label>
                    </div>
                    
                    
                       <div class="col-lg-6">
                        <label class="col-lg-4 " >Caja</label>
                        <div class="col-lg-6">
                            <input type="hidden" ng-model="cabecera.nombrepdfnotario" value="{{datanombrepdfnotario}}"/>
                            <input type="hidden" ng-model="cabecera.rutapdfnotario" value="{{datarutapdfnotario}}"/>
                            <input type="hidden" ng-model="cabecera.paginaspdf" value="{{datapaginaspdf}}"/>
                            <input type="hidden" ng-model="cabecera.paginas" value="{{datapaginas}}"/>
                            <input class="form-control" onkeypress="return soloNumeros(event)" ng-model="cabecera.nro_caja" ng-disabled="habilitado" placeholder="Caja"  required><br>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control" disabled ng-model="cabecera.letra_caja"/>
                        </div>
                            
                        <label class="col-lg-4">Nombres: </label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="cabecera.nombres" placeholder="Nombres" required><br>
                        </div>   
                       
                        
                        <label class="col-lg-4 ">Rut:</label>
                        <div class="col-lg-5">
                            <input class="form-control" ng-model="cabecera.rut" min="1111111" max="99999999" onkeypress="return soloNumeros(event)" placeholder="12345678" required maxlength="8" ng-if="!validarRut">
                            <input class="form-control" ng-model="cabecera.rut" placeholder="Pasaporte o Documento ID" ng-if="validarRut"><br>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control" ng-model="cabecera.dv" ng-change="calcularDv(cabecera.rut, cabecera.dv)"  placeholder="K" required maxlength="1" ng-if="!validarRut"><br>                        </div>
                        <div class="col-lg-1">
                            <md-tooltip md-direction="bottom">
                                No validar rut o Ingreso de pasaporte
                            </md-tooltip>
                            <md-checkbox ng-model="validarRut" ng-click="" ng-init="validarRut = false" class="md-primary"></md-checkbox>
                        </div>   
                        
                         <label class="col-lg-4">Id:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="cabecera.identificador" placeholder="Identificador" required onkeypress="return soloNumeros(event)" ><br>
                        </div>
                        
                        <label class="col-lg-4">Tipo: </label>
                        <div class="col-lg-8">
                        <select class="form-control" disabled ng-model="cabecera.tipo_carpeta" ng-options="opt.valor as opt.descripcion for opt in tipo_documentos">
                        </select>
                        </div>
                         
                    </div>
                    
                    
                    <div class="col-lg-6">
                        <label class="col-lg-4 control-label">Carpeta </label>
                        <div class="col-lg-6">
                            <input class="form-control" onkeypress="return soloNumeros(event)" ng-disabled="habilitado" ng-model="cabecera.carpeta" placeholder="Carpeta" required><br>
                        </div>
                          <div class="col-lg-2">
                            <input class="form-control" disabled ng-model="cabecera.letra_carpeta"/>
                        </div>   
                            
                         <label class="col-lg-4 control-label">Apellidos: </label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="cabecera.apellidos" placeholder="Apellidos" required><br>
                        </div>
                        
                        
                        <label class="col-lg-4 control-label">Comision:</label>
                        <div class="col-lg-4">
                            <label class="radio-inline"><input ng-model="cabecera.comision" ng-disabled="habilitado" type="radio" name="optcomision" value=1 ng-init="">&nbsp;&nbsp;Valech I</label>
                        </div>
                        <div class="col-lg-4">
                            <label class="radio-inline"><input ng-model="cabecera.comision" ng-disabled="habilitado" type="radio" name="optcomision" value=2 ng-init="">&nbsp;&nbsp;Valech II</label>
                        </div>
                        <div class="col-lg-12" style="margin-bottom: 6%;"></div>
                        
                        <label class="col-lg-4 control-label">Serie:</label>
                        <div class="col-lg-8">
                            <label class="radio-inline"><input ng-model="cabecera.serie" ng-disabled="habilitado" type="radio" name="optcalifica" value="C" ng-init="" required>&nbsp;&nbsp;C</label>
                            <label class="radio-inline"><input  ng-model="cabecera.serie" ng-disabled="habilitado" type="radio" name="optcalifica" value="NC" ng-init="" required>&nbsp;&nbsp;NC</label>
                            <label class="radio-inline"><input  ng-model="cabecera.serie" ng-disabled="habilitado" type="radio" name="optcalifica" value="FP" ng-init="" required>&nbsp;&nbsp;FP</label>
                            <label class="radio-inline"><input  ng-model="cabecera.serie" ng-disabled="habilitado" type="radio" name="optcalifica" value="PV" ng-init="" required>&nbsp;&nbsp;PV</label>
                            <label class="radio-inline"><input  ng-model="cabecera.serie" ng-disabled="habilitado" type="radio" name="optcalifica" value="OTRO" ng-init="" required>&nbsp;&nbsp;OTRO</label>
                        </div>
                        <div class="col-lg-12" style="margin-bottom: 6%;"></div>
                        
                        <label class="col-lg-4 control-label">Apela: </label>
                        <div class="col-lg-8">
                            <label class="radio-inline"><input  ng-model="cabecera.apela" type="radio" name="optapela" value="true" ng-init="" required>Si</label>
                            <label class="radio-inline"><input  ng-model="cabecera.apela" type="radio" name="optapela" value="false" ng-init="" required>No</label>
                        </div>
                        
                    </div>
                    
                </fieldset>
                <hr class="hr-simple">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="col-lg-6">
                            <button type="button" ng-disabled="habilitaImpresion" ng-click="imprimir()" class="btn btn-info btn-block"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="reset" ng-click="eliminarDocumentos()" class="btn btn-info btn-block"><i class="fa fa-history"></i> Limpiar Forma</button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                         <div class="col-lg-4">
                            <button type="button" ng-click="abrirModalDescalifica();" ng-class="{'btn btn-danger btn-block': declara === 'Iniciada', 'btn btn-warning btn-block': declara === 'Terminada', 'btn btn-success btn-block': declara === undefined }" ng-disabled="permisodesclasificacion" class="btn-block"><i class="fa fa-floppy-o"></i> Desclasificar </button>
                        </div>
                        
                        <div class="col-lg-4">
                            <button type="button" ng-click="guardar(cabecera);" class="btn btn-success btn-block" ng-disabled="!(!!habilitado)"><i class="fa fa-floppy-o"></i> Guardar Cabecera</button>
                        </div>
                        
                        <div class="col-lg-4">
                            <button type="button" ng-click="guardarYCerrar(cabecera);" class="btn btn-success btn-block" ng-disabled="!(!!habilitado)"><i class="fa fa-floppy-o"></i> Cerrar </button>
                        </div>
                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>
                <hr>
            </div>
        </form>


        <div class="col-xs-12">
                

            <div class="row">
                    
                
                <div class="col-xs-1">
                    <i class="fa fa-plus"></i> <i class="fa fa-minus"></i> Acciones
                </div>

                <div class="col-xs-4">
                    <i class="fa fa-list"></i> Categoría
                </div>
                
                <div class="col-xs-1">
                    <i class="fa fa-briefcase"></i> Inicial
                </div>

                <div class="col-xs-1">
                    <i class="fa fa-briefcase"></i> Final
                </div>

                <div class="col-xs-2">
                    <i class="fa fa-comment-o"></i> Comentario
                </div>

                <div class="col-xs-1">
                    <i class="fa fa-file-o"></i> PDF
                </div>

                <div class="col-xs-1">
                    <i class="fa fa-file-o"></i> Copia preservacion
                </div>

                <div class="col-xs-1">
                    <i class="fa fa-file-o"></i> Pág
                </div>
            </div>
            <hr class="hr-simple">
                <div class="row linea" ng-repeat="linea in lineas| orderBy: ordenInicial track by $index" ng-controller="myCtrl">
                    <div ng-show="linea.selected.nombreTipoDocumento !== 'Declaracion'">
                    <div class="col-xs-1">
                        <!--Botones para agregar y quitar lineas. El quitar lineas tiene un ng-disabled para
                        desactivarlo en caso de que solo haya una linea y no quede vacío.-->
                        <div class="row btn-group">
                            <center>
                            <div class="col-xs-6">
                                <button type="button" ng-click="agregarModificar($index, linea)" class="btn btn-success"><i class="fa fa-plus"></i></button>
                            </div>

                            <div class="col-xs-6">
                                <button type="button" ng-click="restar($index, linea.indiceDel)" ng-disabled="disabledRestar" class="btn btn-danger"><i class="fa fa-minus"></i></button>
                            </div>
                            </center>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <span id="edita{{$index}}">                                                                                                              
                        <button class="btn btn-default" style="width: 100%;" ng-click="abrirModalDocumentos(linea, plantillas, lineas, $index)">{{linea.nombre_cod | limitTo: 25}}{{linea.nombre_cod.length > 23 ? '...' : ''}}</button>
                        </span>
                    </div>
                    <input type="hidden" ng-model="linea.indiceDel" ng-init="dataDel = linea.indiceDel" value="{{dataDel}}" />
                    <input type="hidden" ng-model="linea.numeropdf" ng-init="datapdf = linea.numeropdf" value="{{datapdf}}"/>
                    <div class="col-lg-2">
                    <div class="col-xs-6">
                        <input required class="form-control" ng-model="linea.folioInicial" ng-init="linea.folioInicial = vacio + linea.vacio" onkeypress="return soloNumeros(event)" ng-change="contarPaginas()"  >
                    </div>
                    <div class="col-xs-6">
                        <input required class="form-control" ng-model="linea.folioFinal" ng-init="linea.folioFinal = vacio1 + linea.vacio1" onkeypress="return soloNumeros(event)" ng-change="contarPaginas()"  >
                    </div>
                    </div>
                    <div class="col-xs-2">
                        <textarea type="text" class="form-control" rows="1" ng-model="linea.comentario"></textarea>
                    </div>
                    <div class="col-xs-2" >
                        <div class="row">
                            <div encytype='multipart/form-data'>
                                <div class="btn-group" class="col-xs-6">
                                    <form  method="post" action="/valech/viewpdf"  target="_blank">
                                        <input type="text" ng-show="false" name="valor" ng-model="linea.indice" ng-init="data = linea.indice" value="{{data}}" />
                                        <button type="submit" style="margin-left: 30%;" class="btn {{linea.colorboton}}" ng-show="!linea.nopdf" ng-if="linea.boton" ><i class="fa fa-eye"></i></button>
                                    </form>
                                </div>
                                <div class="btn-group" class="col-xs-6">
                                    <form ng-submit="uploadFile()" ng-model="formup">
                                        <span class="btn btn-danger btn-file fa fa-file-pdf-o" style="height: 30px; position: relative; margin-right: 10%;" ng-disabled="!(!!cabecera.carpeta && !!cabecera.nro_caja && !!cabecera.nombres && !!cabecera.apellidos && !!cabecera.apela && !!cabecera.comision && !!cabecera.califica && !!linea.selected && !!linea.folioInicial && !!linea.folioFinal)" >
                                            <input ng-click="cambiacolor($index)" type="file" file-model="myFile" ng-disabled="!(!!cabecera.carpeta && !!cabecera.nro_caja && !!cabecera.nombres && !!cabecera.apellidos && !!cabecera.apela && !!cabecera.comision && !!cabecera.califica && !!linea.selected && !!linea.folioInicial && !!linea.folioFinal)"/>
                                        </span>
                                        <div class="btn-group" class="col-xs-3">
                                            <button ng-show="!linea.nopdf" ng-if="!linea.boton" type="submit" class="btn btn-warning" ng-disabled="!(!!cabecera.carpeta && !!cabecera.nro_caja && !!cabecera.nombres && !!cabecera.apellidos && !!cabecera.apela && !!cabecera.comision && !!cabecera.califica && !!linea.selected && !!linea.folioInicial && !!linea.folioFinal)"><i class="fa fa-upload"></i></button>
                                        </div>
                                        <div class="btn-group" class="col-xs-3">
                                            <button type="submit" class="btn btn-success" ng-show="linea.nopdf" style="margin-right: 10%;" ><i class="fa fa-check"></i></button>
                                        </div>
                                        <div class="btn-group" class="col-xs-3">
                                            <button class="btn btn-info"  type="submit" ng-show="linea.edit" ><i class="fa fa-pencil"></i></button>
                                        </div>
                                        <div class="btn-group" class="col-xs-3">
                                            <md-checkbox ng-model="linea.checkContar" ng-click="contarPaginas()" aria-label="Checkbox 1" class="md-primary" ng-init="false" style="margin-left: 20%;"></md-checkbox>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-1">
                        <input required class="form-control" ng-model="linea.paginas"  ng-init="linea.paginas = ''" >
                    </div>
                    </div>
                </div>
        </div>

        <hr class="hr-simple">
        <div class="col-md-12">
                <input type="hidden" ng-model="paginas" value="{{datapaginas}}" />
                <p style="float: right; font-size: 120%;">Total de Páginas {{total}}</p>
        </div>

    </div>
</div>
