<div class="container">
    <div class="col-lg-4 "></div>
    <div class="col-lg-4 "> 
        <form class="form-signin" ng-submit="validaCredenciales(userid, password)">
            <h2 class="form-signin-heading">Ingrese sus Credenciales</h2>
            <input type="text" id="inputEmail" ng-model="userid" ng-init=" " class="form-control" placeholder="Usuario" required autofocus>
            <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            <label>{{loginError}}</label>
        </form>
    </div>
    <div class="col-lg-4 "></div>
</div>