<div class="container theme-showcase" role="main">

    <div class="jumbotron col-lg-12">
        <h3>Usuarios y Perfiles</h3> 
        
        
        <hr class="hr-simple">
        <script type="text/ng-template" id="ModalUsuario.html">

            <form ng-submit="ok(crearUsuario, perfilesUsuarios)">
            <div class="modal-header">
            <h3 class="modal-title">Crear Usuario</h3>
            </div>
            <div class="modal-body">
            <label>Usuario:</label>
            <input class="form-control" placeholder="Ingrese usuario" ng-model="crearUsuario.username" required><br>
            <label>Nombre:</label>
            <input class="form-control" placeholder="Ingrese nombre" ng-model="crearUsuario.nombreUsuario" required><br>
            <label>Password:</label><i class="fa fa-eye" ng-click="cambiarTipo()" data-toggle="tooltip" data-placement="top" title="Mostrar Contraseña" style="margin-left:2%;"></i>
            <input class="form-control" placeholder="Ingrese password" ng-model="crearUsuario.password" type="{{tipo}}" required><br>
            <label>Correo:</label>
            <input class="form-control" type="email" placeholder="Ingrese correo" ng-model="crearUsuario.correo" required><br>
            </div>
            <center><h5><strong>Perfil</strong></h5></center>
            <center><button class="btn btn-info btn-block" ><i class="fa fa-user"></i></button></center>
            <br>
            <center><select style="height: 200px;width: 300px" ng-model="perfilesUsuarios" ng-click="listarPerfilesLlaves(perfilesUsuarios)" multiple ng-options="opt.id_perfil as opt.nombre_perfil for opt in perfiles" ></center>
            </select>
            <br>
            <div class="modal-footer">
            <button class="btn btn-success" type="submit" ng-disabled="!!(!perfilesUsuarios&&nombreRepetido)">Crear</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
            </form>

        </script>
        
        <script type="text/ng-template" id="ModalUsuarioModificar.html">

            <form ng-submit="modificarUsuario(crearUsuario, perfilesUsuarios)">
            <div class="modal-header">
            <h3 class="modal-title">Modificar Usuario</h3>
            </div>
            <div class="modal-body">
            <label>Usuario:</label>
            <input class="form-control" placeholder="Ingrese usuario" ng-model="crearUsuario.username" required><br>
            <label>Nombre:</label>
            <input class="form-control" placeholder="Ingrese nombre" ng-model="crearUsuario.nombre" required><br>
            <label>Password:</label><i class="fa fa-eye" ng-click="cambiarTipo()" data-toggle="tooltip" data-placement="top" title="Mostrar Contraseña" style="margin-left:2%;"></i>
            <input class="form-control" placeholder="Ingrese password" ng-model="crearUsuario.password" type="{{tipo}}" required><br>
            <label>Correo:</label>
            <input class="form-control" type="email" placeholder="Ingrese correo" ng-model="crearUsuario.correo" required><br>
            </div>
            <center><h5><strong>Perfil</strong></h5></center>
            <center><button class="btn btn-info btn-block" ><i class="fa fa-user"></i></button></center>
            <br>
            <center><select style="height: 200px;width: 300px" ng-model="perfilesUsuarios" ng-click="listarPerfilesLlaves(perfilesUsuarios)" multiple ng-options="opt.id_perfil as opt.nombre_perfil for opt in perfiles" ></center>
            </select>
            <br>
            <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-disabled="!!(!perfilesUsuarios)">Modificar</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
            </form>

        </script>

        <script type="text/ng-template" id="ModalPerfil.html">
            <form ng-submit="ok(crearPerfil)">
            <div class="modal-header">
            <h3 class="modal-title">Crear Perfil</h3>
            </div>
            <div class="modal-body">
            <label>Nombre:</label><label ng-if="perfilExiste">Perfil Ya Existe</label>
            <input class="form-control" placeholder="Ingrese nombre" ng-model="crearPerfil.nombrePerfil" required><br>
            </div>
            <center><h5><strong>Llaves</strong></h5></center>
            <center><button class="btn btn-info btn-block" ><i class="fa fa-key"></i></button></center>
            <br>
            <center><select style="height: 200px;width: 300px" ng-model="seleccionLlaves" multiple ng-options="opt.id_llaves as opt.descripcionLlave for opt in llavesCombo" >
            </select></center>
            </select> 
            <br>
            <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="!!(!seleccionLlaves)" type="submit">Crear</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
            </form>
        </script>
        
        <script type="text/ng-template" id="ModalPerfilModificar.html">
            <form ng-submit="modificarPerfil(crearPerfil.nombrePerfil, seleccionLlaves)">
            <div class="modal-header">
            <h3 class="modal-title">Modificar Perfil</h3>
            </div>
            <div class="modal-body">
            <label>Nombre:</label><label ng-if="perfilExiste">Perfil Ya Existe</label>
            <input class="form-control" placeholder="Ingrese nombre" ng-model="crearPerfil.nombrePerfil" required><br>
            </div>
            <center><h5><strong>Llaves</strong></h5></center>
            <center><button class="btn btn-info btn-block" ><i class="fa fa-key"></i></button></center>
            <br>
            <center><select style="height: 200px;width: 300px" ng-model="seleccionLlaves" multiple ng-options="opt.id_llaves as opt.descripcionLlave for opt in llavesCombo" >
            </select></center>
            </select> 
            <br>
            <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="!!(!seleccionLlaves)" type="submit">Modificar</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
            </form>
        </script>

        <div class="col-lg-4">
            <h5>Usuario</h5>
            <select style="height: 200px;width: 300px" ng-model="seleccionUsuario" multiple ng-click="listarPerfilesUsuario(seleccionUsuario)" ng-options="opt.id_usuario as opt.username for opt in usuarios" >
            </select> 
            <div class="col-lg-4">
                <button type="button" class="btn btn-success btn-block" ng-click="AbrirUsuario()">Crear</button>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-primary btn-block" ng-disabled="!(!!seleccionUsuario)" ng-click="AbrirUsuarioModificar(seleccionUsuario)">Editar</button>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-danger btn-block" ng-click="eliminarUsuarios(seleccionUsuario)" ng-disabled="!(!!seleccionUsuario)">Eliminar</button>
            </div>
            <br>
        </div>
        <div class="col-lg-4">
            <h5>Perfil</h5>
            <select style="height: 200px;width: 300px" ng-model="perfilesUsuarios" ng-click="listarPerfilesLlaves(perfilesUsuarios)" multiple ng-options="opt.id_perfil as opt.nombre_perfil for opt in perfiles" >
            </select><br>
            <div class="col-lg-4">
                <button type="button" class="btn btn-success btn-block" ng-click="AbrirPerfil()">Crear</button>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-primary btn-block" ng-click="AbrirPerfilModificar(perfilesUsuarios)" ng-disabled="!(!!perfilesUsuarios)">Editar</button>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-danger btn-block" ng-click="eliminarPerfiles(perfilesUsuarios)" ng-disabled="!(!!perfilesUsuarios)">Eliminar</button><br>
            </div>
        </div>
        <div class="col-lg-4">
            <h5>Llaves</h5>
            <select style="height: 200px;width: 300px" ng-model="seleccionLlaves" multiple ng-options="opt.id_llaves as opt.descripcionLlave for opt in llavesCombo" ng-disabled="true">
            </select> 
            <br>
        </div>
    </div>
</div>




