<div class="container theme-showcase" role="main">
    <div class="jumbotron col-lg-12" >
        <h2>Bienvenido</h2>
        <hr class="hr-simple">
        <div class="col-lg-4">
            <h5>Sistema de Gestión Documental del INDH</h5>
            <br>
        </div>
    </div>
</div>
