<script src="js/FileSaver.js" type="text/javascript"></script>
<script src="js/jspdf.js" type="text/javascript"></script>
<script type="text/ng-template" id="EliminarModal.html">

    <div class="modal-footer" style="text-align: center;">
    <div style="margin-left: 7%;">
    <h4 style="margin-right: 5%;"><strong>Realmente desea eliminar el elemento seleccionado</strong></h4>
    <div class="col-lg-6">
    <button class="btn btn-success col-lg-10" type="button" ng-click="acepto()"><i class="fa fa-check"></i></button>
    </div>
    <div class="col-lg-6">
    <button class="btn btn-danger col-lg-10" type="button" ng-click="cancel()"><i class="fa fa-ban"></i></button>
    </div>
    </div>
    </div>

<div class="modal-wait" style="text-align: center;">
    <div style="margin-left: 7%;">
    <h4 style="margin-right: 5%;"></h4>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
    
    </div>
    <div class="col-lg-4">
    </div>
    </div>
    </div>

</script>
<div class="container theme-showcase" role="main">
    <section>
        <div class="jumbotron">
            <fieldset>
                <legend>Búsqueda de Carpetas</legend>

                <div class="row form-group">
                    <label class="col-lg-3" >Caja</label>

                    <label class="col-lg-3">Carpeta </label>

                    <label class="col-lg-2">Nombres </label>

                    <label class="col-lg-2">Apellidos </label>

                    <label class="col-lg-2 " >Pasaporte o Rut:</label>

                </div>

                <div class="row form-group">
                    <div class="col-lg-3">
                        <div class="col-lg-6">
                            <input numbers-only class="form-control" placeholder="Caja" ng-model="busqueda.nro_caja"/>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" placeholder="A" ng-model="busqueda.letra_caja" maxlength="1" only-letters-input/>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="col-lg-6">
                            <input numbers-only class="form-control " placeholder="Carpeta" ng-model="busqueda.carpeta"/>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" placeholder="A" ng-model="busqueda.letra_carpeta" maxlength="1" only-letters-input/>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <input class="form-control" placeholder="Nombres" ng-model="busqueda.nombres"/>
                    </div>

                    <div class="col-lg-2">
                        <input class="form-control" placeholder="Apellidos" ng-model="busqueda.apellidos"/>
                    </div>

                    <div class="col-lg-2">
                        <input class="form-control" ng-model="busqueda.rut" placeholder="Pasaporte o Rut" /><br>
                    </div>

                </div>
                
                
                 <div class="row form-group">

                    <label class="col-lg-3">Tipo</label>

                    <label class="col-lg-3">Categoria</label>

                    <label class="col-lg-2 ">Comision:</label>

                    <label class="col-lg-4 ">Serie:</label>
                </div>
                
                <div class="row form-group">
                    <div class="col-lg-3">
                        <select class="form-control" ng-model="busqueda.tipo_carpeta" ng-options="opt.descripcion as opt.descripcion for opt in tipo_documentos">
                        </select>
                    </div>

                    <div class="col-lg-3">
<!--                            <ui-select ng-model="item" multiple ng-change="aplicaCategoria(item)">
                                <ui-select-match  placeholder="Buscar..">{{ $select.selected.nombreTipoDocumento | limitTo: 25 }}{{$select.selected.nombreTipoDocumento.length > 25 ? '...' : ''}}</ui-select-match>
                                <ui-select-choices style="width: 200%;" group-by="'nombreCategoria'" repeat="item in (lista_categoria | filter: $select.search) track by item.tipo_id" refresh="setnewservice($select.search)" refresh-delay="0">
                                    <span ng-bind-html="item.nombreTipoDocumento | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>-->
                        
                            <div ng-dropdown-multiselect="" options="lista_categoria" selected-model="example14model" checkboxes="false" extra-settings="example14settings"></div>
                            <!--<pre>Selected Model: {{example14model}} | json</pre>-->
                     </div>

                    <div class="col-lg-2">
                         <label class="radio-inline"><input ng-model="busqueda.comision" type="radio" value=1 ng-init="">V 1</label>
                        <label class="radio-inline"><input ng-model="busqueda.comision" type="radio" value=2 ng-init="">V 2</label>
                    </div>

                     <div class="col-lg-4">
                        <label class="radio-inline"><input ng-model="busqueda.serie" type="radio" value="C" ng-init="" >C</label>
                        <label class="radio-inline"><input  ng-model="busqueda.serie" type="radio" value="NC" ng-init="" >NC</label>
                        <label class="radio-inline"><input  ng-model="busqueda.serie" type="radio" value="FP" ng-init="" >FP</label>
                        <label class="radio-inline"><input  ng-model="busqueda.serie" type="radio" value="PV" ng-init="" >PV</label>
                        <label class="radio-inline"><input  ng-model="busqueda.serie" type="radio" value="OTRO" ng-init="" >OTRO</label>
                    </div>
                    
                </div>
                
                
                <div class="row form-group">
                    <div class="col-xs-4">
                        <button type="reset" ng-click="limpiarBusqueda()" class="btn btn-info btn-block"><i class="fa fa-history"></i> Limpiar Forma</button>
                    </div>
                    <div class="col-xs-4">
                        <!--<input class="form-control" ng-model="busqueda.identificador" placeholder="Identificador"/>-->
                    </div>
                    <div class="col-xs-4">
                        <button type="reset" ng-click="buscar(busqueda, example14model)" class="btn btn-success btn-block"><i class="fa fa-search"></i> Buscar </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>

    <div class="jumbotron col-xs-12" >
        <table class="table table-bordered table-striped table-hover">
            <thead >
                <tr class="info">
                    <td><strong>Caja</strong>
                        <a href="" ng-click="ordenarPorCaja('nro_caja')" ng-hide="hidecaja" ng-init="hidecaja = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPorCaja('-nro_caja')"ng-hide="hidecaja1" ng-inextPagenit="hidecaja1 = false" ><i class="fa fa-sort-desc"></i></a>
                    </td> 
                    <td><strong>Carpeta</strong>
                        <a href="" ng-click="ordenarPorCarpeta('carpeta')" ng-hide="hidecarpeta" ng-init="hidecarpeta = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPorCarpeta('-carpeta')" ng-hide="hidecarpeta1" ng-init="hidecarpeta1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td>
                    <td><strong>Rut</strong>
                        <a href="" ng-click="ordenarPorRut('rut')" ng-hide="hiderut" ng-init="hiderut = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPorRut('-rut')" ng-hide="hiderut1" ng-init="hiderut1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td>
                    <td><strong>Nombre</strong>
                        <a href="" ng-click="ordenarPorNombre('nombres')" ng-hide="hidenombre" ng-init="hidenombre = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPorNombre('-nombres')" ng-hide="hidenombre1" ng-init="hidenombre1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td> 
                    <td><strong>Apellido</strong>
                        <a href="" ng-click="ordenarPoApellido('apellidos')" ng-hide="hideapellido" ng-init="hideapellido = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPoApellido('-apellidos')" ng-hide="hideapellido1" ng-init="hideapellido1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td> 
                    <td><strong>Comisión</strong>
                        <a href="" ng-click="ordenarPoComision('comision')" ng-hide="hidecomision" ng-init="hidecomision = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPoComision('-comision')" ng-hide="hidecomision1" ng-init="hidecomision1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td> 
                    <td><strong>Serie</strong>
                        <a href="" ng-click="ordenarPoCalifica('serie')" ng-hide="hidecalifica" ng-init="hidecalifica = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPoCalifica('-serie')" ng-hide="hidecalifica1" ng-init="hidecalifica1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td> 
                    <td><strong>Pág Pdf</strong>
                        <a href="" ng-click="ordenarPorPagPdf('numeropdf')" ng-hide="hidepagpdf" ng-init="hidepagpdf = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPorPagPdf('-numeropdf')" ng-hide="hidepagpdf1" ng-init="hidepagpdf1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td>
                    <td><strong>Docs</strong>
                        <a href="" ng-click="ordenarPorDocs('numerodocumentos')" ng-hide="hidedocs" ng-init="hidedocs = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPorDocs('-numerodocumentos')" ng-hide="hidedocs1" ng-init="hidedocs1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td>
                    <td><strong>Pág</strong>
                        <a href="" ng-click="ordenarPorPag('numeropaginas')" ng-hide="hidepag" ng-init="hidepag = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPorPag('-numeropaginas')" ng-hide="hidepag1" ng-init="hidepag1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td>
                    <td><strong>Tipo</strong>
                        <a href="" ng-click="ordenarPorPag('tipo_carpeta')" ng-hide="hidepag" ng-init="hidepag = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPorPag('-tipo_carpeta')" ng-hide="hidepag1" ng-init="hidepag1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td>
                    <td ng-if="ediccarp"><strong>Editar</strong></td>
                    <td ng-if="lectcarp"><strong>Borrar</strong></td>
                    <td><strong>Estado</strong>
                        <a href="" ng-click="ordenarPorEstado('nombrepdfnotario')" ng-hide="hideestado" ng-init="hideestado = true"><i class="fa fa-sort-asc"></i></a>
                        <a href="" ng-click="ordenarPorEstado('-nombrepdfnotario')" ng-hide="hideestado1" ng-init="hideestado1 = false"><i class="fa fa-sort-desc"></i></a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cabecera in itemArray| orderBy: ordenCaja | orderBy: ordenCarpeta | orderBy: ordenRut | orderBy: ordenNombre | orderBy: ordenApellido | orderBy: ordenComision | orderBy: ordenCalifica | orderBy: ordenPagPdf | orderBy: ordenDocs | orderBy: ordenPag | orderBy: ordenestado">
                    <td class="col-lg-xs-0">
                        <input type="hidden" ng-model="cabecera.carpeta_id" />
            <label title="{{cabecera.nro_caja}}{{cabecera.letra_caja}}">{{cabecera.nro_caja}}{{cabecera.letra_caja}}</label>
            </td>
            <td class="col-xs-0">
            <label title="{{cabecera.carpeta}}{{cabecera.letra_carpeta}}">{{cabecera.carpeta}}{{cabecera.letra_carpeta}}</label>
            </td>
            <td class="col-xs-0">
            <md-tooltip md-direction="bottom">
                {{cabecera.rut}}-{{cabecera.dv}}
            </md-tooltip>
            <label ng-model="cabecera.rut" readonly title="{{cabecera.rut}}">{{cabecera.rut}}</label>
            </td>
            <td class="col-xs-0">
            <md-tooltip md-direction="bottom">
                {{cabecera.nombres}}
            </md-tooltip>
            <label ng-model="cabecera.nombres" title="{{cabecera.nombres}}">{{ cabecera.nombres | limitTo: 10 }}{{cabecera.nombres.length > 10 ? '...' : ''}}</label>
            </td>
            <td class="col-xs-0">
            <md-tooltip md-direction="bottom">
                {{cabecera.apellidos}}
            </md-tooltip>
            <label ng-model="cabecera.apellidos" title="{{cabecera.apellidos}}">{{ cabecera.apellidos | limitTo: 10 }}{{cabecera.apellidos.length > 10 ? '...' : ''}}</label>
            </td>
            <td class="col-xs-0">
                <label ng-model="cabecera.comision" title="{{cabecera.comision}}">{{cabecera.comision}}</label>
            </td>
            <td class="col-xs-0">
                <label ng-model="cabecera.califica" title="{{cabecera.serie}} ">{{cabecera.serie}}</label>
            </td>
            <td class="col-xs-0">
                <label ng-model="cabecera.totalPdf" title="{{cabecera.numeropdf}}">{{cabecera.numeropdf}}</label>
            </td>
            <td class="col-xs-0">
                <label ng-model="cabecera.total" title="{{cabecera.numerodocumentos}}">{{cabecera.numerodocumentos}}</label>
            </td>
            <td class="col-xs-0">
                <label ng-model="cabecera.totalPdf" title="{{cabecera.numeropaginas}}">{{cabecera.numeropaginas}}</label>
                <input type="hidden" ng-model="cabecera.comision" value="{{datacomision}}"/>
                <input type="hidden" ng-model="cabecera.califica" value="{{datacalifica}}"/>
            </td>
            <td class="col-xs-0">
                <label ng-model="cabecera.tipo_carpeta" title="{{cabecera.tipo_carpeta}}">{{cabecera.tipo_carpeta}}</label>
            </td>
            <td class="col-xs-0" ng-if="ediccarp">
                <button class="btn btn-info"  ng-click="modificarCarpeta(cabecera.carpeta_id, cabecera.carpeta, cabecera.nro_caja, cabecera.comision, cabecera.califica)"><i class="fa fa-pencil"></i></button>
            </td>
            <td class="col-xs-0" ng-if="lectcarp">
                <button class="btn btn-danger" ng-click="AbrirEliminarModal(cabecera.carpeta_id)"><i class="fa fa-ban"></i></button>
            </td>
            <td class="col-xs-0">
                <button class="btn btn-success" ng-if="cabecera.nombrepdfnotario" ><i class="fa fa-circle-o"></i></button>
                <button class="btn btn-danger" ng-if="!cabecera.nombrepdfnotario" ><i class="fa fa-circle-o"></i></button>
            </td> 
            </tr>
            </tbody>
        </table> 
<!--        <div class="text-center col-lg-12">
             Navegar hacia atrás 
            <button type='button' class="btn btn-info" ng-disabled='currentPage == 0' ng-click='setPage(backPage);'>&laquo;{{backPage}}</button>

             Navegar a una página especifica
            <button type='button' class="btn btn-info" ng-disabled='currentPage == page.no - 1' ng-click="setPage(page.no)" ng-repeat='page in pages'>{{page.no}}</button>

             Navegar hacia adelante 
            <button type='button' class="btn btn-info" ng-disabled="currentPage+1 == final" ng-click='setPage(nextPage);'>{{nextPage}}&raquo;</button>
        
        </div>-->
        
        <div class="text-center col-lg-12">
            <!-- Navegar hacia atrás -->
            <button type='button' class="btn btn-info" ng-disabled='currentPage == 0' ng-click='setPage(backPage);'>&laquo;{{backPage}}</button>

            <!-- Navegar a una página especifica-->
            <button type='button' class="btn btn-info" ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>

            <!-- Navegar hacia adelante -->
            <button type='button' class="btn btn-info" ng-disabled='currentPage + 1 === pages.length' ng-click='setPage(nextPage);'>{{nextPage}}&raquo;</button>
        </div>
        
    </div>
</div>
