<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Comisión Valech</title>
        <link rel="stylesheet" href="resources/css/googleapis.css">
        
        <link rel='stylesheet prefetch' href='resources/css/angular-material.css'>
        <link rel='stylesheet prefetch' href='resources/css/docs.css'>
        <link rel="stylesheet" href="menu/css/menuApp.css">
        <link href="resources/css/bootstrap.min.css" rel="stylesheet">
        <link href="carpetas/ingresoCarpetas/css/select.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="carpetas/ingresoCarpetas/css/estiloBotonUpload.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="carpetas/busquedaCarpetas/css/btngrp.css" rel="stylesheet" type="text/css"/>
        <!--<link href="carpetas/busquedaCarpetas/css/app.css" rel="stylesheet" type="text/css"/>-->
        <link href="resources/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="resources/css/trix.css" rel="stylesheet">
        <!--<link href="categoria/css/theme.css" rel="stylesheet" type="text/css"/>-->
        <link href="categoria/css/theme.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="menuApp">
        <div  class="menuBardemoBasicUsage" ng-cloak="" ng-controller="DemoBasicCtrl as ctrl">

            <div  >

                <md-toolbar class="menu-toolbar" layout="row" layout-align="space-around center"  ng-style="{'background-color':'grey'}">
                    <div layout="row">
                        <span> 
                            <md-toolbar-filler layout="" layout-align="center center">
                                <img ng-src="resources/img/indh_logo.png">
                            </md-toolbar-filler>
                        </span>
                        <div>
                            <md-menu-bar hide-sm-gt>
                                <md-menu ng-if="adminmenu">
                                    <button ng-click="$mdOpenMenu()">
                                        Administración
                                    </button>
                                    <md-menu-content>
                                        <md-menu-item >
                                            <md-button ng-href="#usuarioperfil">
                                                Usuarios y Perfiles
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-menu ng-if="planmenu">
                                    <button ng-click="$mdOpenMenu()">
                                        Plantilla
                                    </button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button ng-href="#categoria" >
                                                Categorias y Plantilla
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-menu ng-if="carpmenu" >
                                    <button ng-click="$mdOpenMenu()">
                                        Carpetas
                                    </button>
                                    <md-menu-content>
                                        <md-menu-item ng-if="bucamenu">
                                            <md-button ng-href="#busquedaCarpetas">
                                                Buscar Carpetas
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="incamenu">
                                            <md-button ng-href="#ingresoCarpetas">
                                                Nueva Carpeta
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-menu ng-if="!permisodesclasificacion">
                                    <button ng-click="$mdOpenMenu()">
                                        Desclasificadas
                                    </button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button ng-href="#busquedaDescalificadas">
                                                Busqueda Desclasificadas
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-menu ng-if="sesion">
                                    <button ng-click="$mdOpenMenu()">
                                        Sesión
                                    </button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button ng-click="cerrarSession()">
                                                Cerrar Sesión
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-bar>
                        </div>
                    </div>
                </md-toolbar>	
            </div>

            <!--            
                        <div class="container-fluid small-margin-top">
                        <div ng-view></div>
                    </div>-->
            <md-content class="page-container">
                <ng-view></ng-view>
            </md-content>

        </div>
        <!--
        Copyright 2016 Google Inc. All Rights Reserved. 
        Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
        -->
        <script src='resources/js1.4.8/angular.js'></script>
        <script src='resources/js1.4.8/angular-animate.min.js'></script>
        <script src='resources/js1.4.8/angular-route.min.js'></script>
        <script src='resources/js1.4.8/angular-aria.min.js'></script>
        <script src='resources/js1.4.8/angular-messages.min.js'></script>
        <script src='resources/js1.4.8/svg-assets-cache.js'></script>
        <script src='resources/js1.4.8/angular-material.js'></script>
        <script src="resources/js1.4.8/angular-resource.js"></script>
        <script src="resources/js1.4.8/angular-chosen.min.js"></script>
        <script src="resources/js1.4.8/angular-sanitize.js"></script>
        <!--index-->
        <script src="menu/js/app.js"></script>
        <script src="menu/js/main.ctrl.js"></script>
        <script src="menu/js/main.js"></script>
        <!--carpetas-->
        <!--ingresocarpetas-->
        <script src="carpetas/ingresoCarpetas/js/main.ctrl.js"></script>
        <!--Import Selector de categorias-->
        <script src="carpetas/ingresoCarpetas/js/select.js"></script>
        <!--Import Selector de categorias-->
        <script src="carpetas/ModificaCarpetas/js/main.ctrl.js"></script>
        <!--busquedacarpetas-->
        <script src="carpetas/busquedaCarpetas/js/main.ctrl.js"></script>
        <script src="carpetas/busquedaCarpetas/js/FileSaver.js" type="text/javascript"></script>
        <script src="carpetas/busquedaCarpetas/js/jspdf.js" type="text/javascript"></script>
        <script src="carpetas/descalificaCarpetas/js/main.ctrl.js" type="text/javascript"></script>
        <script src="carpetas/busquedaDesclasificadas/js/main.ctrl.js" type="text/javascript"></script>
        <!--perfilamiento-->
        <script src="resources/js/boostrap.min.js"></script>
        <script src="perfilamiento/js/ui-bootstrap-tpls-1.3.2.min.js"></script>
        <script src="resources/js/trix.js"></script>
        <script src="resources/js/angular-trix.js"></script>
        <script src="resources/js/lodash.js"></script>
        <script src="perfilamiento/js/app.js"></script>
        <script src="perfilamiento/js/main.ctrl.js"></script>
        <script src="perfilamiento/js/multiselect-tpls.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        
        <!--categorias-->
        <script src="categoria/js/main.ctrl.js" ></script>
        <!--login-->
        <script src="login/js/main.ctrl.js" type="text/javascript"></script>
    </body>
</html>